---
import Layout from '../layouts/Layout.astro';
import AlbumCard from '../components/AlbumCard.astro';
import { createAlbumsObject } from '../services/spotifyData.js';
import AlbumesJSON from '../data/albumes.json'

const spotify_data = await createAlbumsObject(import.meta.env.SPOTIFY_CLIENT_ID, import.meta.env.SPOTIFY_SECRET, AlbumesJSON)
---

<Layout title="Review Álbumes.">
	<h1 class="text-4xl font-bold text-center mb-10"> Review de Álbumes</h1>
	<p class="text-center mb-10">Reimplementación de la <a class="text-sky-700 hover:scale-105" href="https://frostedana8.github.io/albumes/">pagina de Reviews de Álbumes</a> de <a class="text-sky-700 hover:scale-105" href="https://twitter.com/lobotonanner">Nana</a></p>
	<div class="grid-cols-1 grid lg:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4 gap-20 mx-auto py-20">
		{spotify_data.map(albumes => (
			<AlbumCard 
				titulo={albumes.titulo} 
				id={albumes.id}
				artista={albumes.artista}
				cover={albumes.cover_link}
			/>
		  ))}
	</div>
</Layout>